body {
	background-color: #0d1117;
}


.main {
	display: flex;
	justify-content: center;
}

.main h1 { 
	color: #F0FFFF;
	font-family: 'Courier New', monospace;
	font-size: 48px;
	text-transform: capitalize;


}